@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* <weight>: Use a value from 300 to 800 
font-weight: <weight>;
400 - regular
600 - semi-bold
*/
@import "reset.css";
@import "variables.css";

/* Components */
@import "components//background.css";
@import "components//login-form.css";


/* Screens */
body{
    color: white;
    font-family: "Open Sans", sans-serif;
    /* display: flex;
    flex-direction: column; */
    font-weight: 600;
    /* position: relative; */
    /* height: 1000vh; */
}

header,
footer {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
}

header div:first-child {
    width: 8vw;
}
header div:last-child {
    width: 10vw;
}

footer div,
footer span,
header div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer div:first-child{
    width: 8vw;
}
footer div:nth-child(2){
    flex-direction: column;
}
footer div:last-child{
    width: 8vw;
}

main{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_padding{
    height: 5vh;
}

#clock{
    font-size: 108px;
    text-align: center;
    padding-bottom: 5px;
}

#greeting,
#todo-form span,
#todo-form input {
    font-size: 36px;
}

#clock,
#greeting,
#todo-form span,
#todo-form input {
    color: white;
}

#todo-form input {
    border-width: 0 0 2px;
    border-bottom-color: white;
    background-color: transparent;
}

#todo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#todo-form span{
    padding-bottom: 10px;
}


.main-screen {
    padding: 0px var(--horizontal-space);
}

.hidden {
    display: none;
}

#weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

