@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* <weight>: Use a value from 300 to 800 
font-weight: <weight>;
400 - regular
600 - semi-bold
*/
@import "reset.css";
@import "variables.css";

/* Components */
@import "components//background.css";

/* Screens */
header{
    height: 10%;
    width: 100%;
}

body{
    color: #2e363e;
    font-family: "Open Sans", sans-serif;
    display: block;
    font-weight: 600;
    /* position: relative; */
    /* height: 1000vh; */
}

.main-screen {
    padding: 0px var(--horizontal-space);
}


.login-form_flex {
    display: flex;
}
.login-form_none {
    display: none;
}
.login-form_flex,
.login-form_none {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
}


/* #login-form span,
#login-form input {
    display: flex;
} */

.hidden {
    display: none;
}


